# For backend
DATABASE_URL=sqlite:///./data/speedometer.db
GEOCODER_PROVIDER=nominatim
GEOCODER_USER_AGENT=DashTrail/1.0-self-hosted-your-domain
GEOCODER_LANGUAGE=en

# For frontend
PUBLIC_API_URL=/api
